* {
    margin: 0;
    padding: 0;
}

/* início adaptações */

@media(max-width: 700px){
    html{
        font-size: 14px;
    }

    body {
        overflow-x: hidden;
    }
   }

/* Fim adaptações */

html, body {
    height: 100%;
    width: 100%;
    font-size: 15px;
    background-color: #F5F5F5;
    color: #2C3E50;
}

a {
    text-decoration: none !important;
    color:#2C3E50 !important;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

h2, h3, h4, h5, h6, p, ul, li, span {
    font-family: 'Roboto', sans-serif;
}

.logo {
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
    background-color: #ebebeb;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 3rem;
    padding-top: 0.5rem;
}
.linkAtivo {
    opacity: 0.7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.principal {
    width: 80%;
    padding-top: 1rem;
}

.bloco1 {
    justify-content: left;
    align-items: left;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    list-style: none;
}

/*
Inicio
*/

#radio-choice{
    width: 150px;
    padding: 10px;
}

#radio-txt {
    width: 1.5rem;
    height: 1.5rem;
}

#radio-pdf {
    width: 1.5rem;
    height: 1.5rem;
}

.form-check-label {
    padding-left: 0.2rem;
    padding-right: 1rem;
    font-size: 1.2rem;
}

.type-input{
    display: none;
}

#pdf-input {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#txt-input {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#insert-text {
    justify-content: space-around;
    align-items: center;
    height: 23rem;
    width: 100%;
    border: 0.15rem solid rgba(000, 000, 000, 0.7);
    border-radius: 0.5rem;
    background-color: transparent;
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    transition: 300ms;
    padding-top: 2rem;
    padding-left: 2rem;
}

#result-input {
    display: none;
}

#result-text {
    justify-content: space-around;
    align-items: center;
    height: 23rem;
    width: 100%;
    border: 0.15rem solid rgba(000, 000, 000, 0.7);
    border-radius: 0.5rem;
    background-color: transparent;
    font-size: 1rem;
    font-family: Verdana, sans-serif;
    transition: 300ms;
    padding-top: 2rem;
    padding-left: 2rem;
}

/*Butões de carregar e salvar*/
#container-button{
    text-align: center;
}

#div-save, #div-load{
    display: inline-flex;
}
#btn-load-txt{
    display: none;
    width: auto;
}
#btn-load-pdf{
    display: none;
    width: auto;
}
#btn-save{
    opacity: 0;
}

/*
Fim
*/

#table {
    font-weight: 700;
}

.tdTable {
    padding-right: 2rem;
}

#resposta-python{
    padding-bottom: 1rem;
}